
<%= stylesheet_link_tag "template_noticias_1" %>

<%
	es_modal = @modo_listado.nil?   
%>


<div id="contenedor_template">
        <div id="titulo-noticia">
        		<% if !@noticia.nil? %>
                	<%= @noticia.descripcion %>
				<% end %>
        </div>
		<br />
        <hr />
		
        <div id="div_template_1">
            <%= mostrarElemento(@hash_elementos_renderizados, 1,0) %>
        </div>
        <div id="div_template_2">
            <%= mostrarElemento(@hash_elementos_renderizados, 2,0) %>
        </div>
		
        <hr />

		<% if(!es_modal) %>
            <input type="button" id="button" value="Mostrar Ventana" onClick='mostrarModal("<%=@contenido_modal%>")'/>
        
		<% end %>

</div>


