<% form_for :contenido, :url => { :controller => "app_noticias", :action => :save } do |form| %>		

	<p>
		<%= label form, :titulo , "Título / Descripción:" %>
	    <%= form.text_field :titulo, :size => 15 %>
	</p>
	<p>
		<%= label form, :fecha , "Fecha del contenido:" %>
	    <%= form.text_field :fecha, :size => 15 %>
	</p>
	<hr />
	<p>
		<%= label form, :fecha_inicio , "Fecha inicio emisión:" %>
	    <%= form.text_field :fecha_inicio, :size => 14 %>
	</p>
	<p>
		<%= label form, :fecha_fin , "Fecha fin de emisión:" %>
	    <%= form.text_field :fecha_fin, :size => 14 %>
	</p>
	<p>
		<%= label form, :rotacion , "Rotación:" %>
	    <%= form.text_field :rotacion, :size => 2 %>
	</p>
	<p>
	
	<%= label form, :app_id , "Seleccione la aplicación a la que pertenece :" %>
	<%= form.collection_select  :app_id, App.find(:all), :id, :nombre %>
		
	</p>
	
	<hr />
	<p>
	
	<%= label form, :template_id , "Seleccione un Template :" %>
	<%= form.collection_select  :template_id, TipoContenido.find(:all), :id, :descripcion %>
	
	<%#= collection_select ( nil, :template_id,
						TipoContenido.find(:all), :id, :descripcion,
						{:prompt => "Seleccione un template"}, 
						{:onchange => "#{remote_function(:url => {:controller => 'app_noticias', :action => "ejemplo_ajax"}, 
						:with => "'template_id='+value")}"}) 
	%>  
		
	</p>
			
	
	<hr />
	
	<p>
	    <label >Carga de elementos:</label><br/>
		Aca deben cargarse la cantidad de elementos que se deseen
	</p>

	<% form.fields_for :elementos, @elementos do |elementos_fields| %>

			<p>Mira que hay <%= @elementos.size() %> elementos en la lista!!</p>
			<p>
					<%= label form, :tipo_elemento_id , "Seleccione un Tipo de elemento :" %>
					<%= elementos_fields.collection_select ( :tipo_elemento_id, TipoElemento.find(:all), :id, :descripcion) %>
			</p>
			<p>
			    <%= label form, :ubicacion_elemento , "Ubicación elemento:" %>
			    <%= elementos_fields.text_field :ubicacion_elemento, :size => 2 %>
			</p>
			<p>
			    <%= label form, :valor_elemento , "Valor elemento:" %>
			    <%= elementos_fields.text_area :valor_elemento %>
			</p>
			
			<hr />
	<% end -%>

			<p>
			    <label >Selección de perfiles para los que estará disponible:</label><br/>
				Aca se debe mostrar una lista de perfiles para los que el contenido estará dispobible
			
				<%= form.collection_select ( :profile_id, Profile.find(:all), :id, :descripcion) %>
				
			</p>

	
	<%= submit_tag "Salvar" %>

<% end %>



